#about{
    height:80%;
    width: 100%;
}

.about__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.avatar{
    border: .2rem solid $sky-color;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    padding: .4rem;
    margin-bottom: 1.2rem;
}

.avatar img{
    border-radius: 50%;
    width:100%;
    height:100%;
}

.about__container h3{
    color: $off-white;
    font-family: $montserrat;
    font-size: 1.8rem;
    text-shadow: 0px 0px 1px $off-white; 
    font-weight: 700;
    line-height: 3.5rem;
}

.about__container p{
    color:$grey;
    line-height: 2.5rem;
}

.about__container p #special-word{
    font-weight: bold;
    color: $sky-color;
}
.about__container p #special-link{
    font-weight: bold;
    color: $sky-color;
    cursor: pointer;
    text-decoration: none;
}