.arrow{
    display: none;
    z-index:2;
}

@media (min-width: $medium-device){
   .arrow{
    position: absolute;
    top: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    }
    .arrow__line{
        border-radius: .3rem;
        width: 4rem;
        height: .2rem;
        background-color: $primary-color;
        content: ' ';
        transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .arrow__link{
        color: $title-color;
        font-weight: bold;
        opacity: 0;
        transition: all .3s linear;
    }
    .lines div:nth-of-type(1){
        transform: rotate(45deg) translateY(.1rem);
    }
    .lines div:nth-of-type(2){
        transform: rotate(-45deg) translateY(-.1rem);
    }
    .arrow:hover{
        .lines div:nth-of-type(1){
            transform: rotate(60deg) translateY(.1rem); 
        }
        .lines div:nth-of-type(2){
            transform: rotate(-60deg) translateY(-.1rem); 
        }
        @media(min-width: $large-device){
            .arrow__link{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    .arrow-right{
        @include right-floating;
        .arrow__link--right{
            transform: translateX(3rem);
        }
        .arrow__line--right-upper{
            transform-origin:  right;
        }
        .arrow__line--right-lower{
            transform-origin:  right;
        }
    }
    .arrow-left{
        @include left-floating;
        .arrow__link--left{
            transform: translateX(-3rem);
        }
        .arrow__line--left-upper{
            transform-origin:  left;
        }
        .arrow__line--left-lower{
            transform-origin:  left;
        }
    }
}
