.code{
    background-color: #282c34;
    color: $attributeName;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    letter-spacing: .2rem;
    line-height: 1.7rem;
    width:100%;
}

.cursor{
    color:white;
}

.code p{
    margin: $xs-size;
}

.code__const{
    color: $const;
}

.code__equal{
    color: $equal;
}

.code__value{
    color: $value;
}

.code__value--url{
    text-decoration: underline;
}

.code__object{
    color: $object;
}

.code__function{
    color: $function;
}

.code__string-interpolation{
    color: $stringInterpolation;
}