.current{
    display: block;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top:0;
    visibility: visible;
    width: 100%;
    z-index: 200;
}