#error{
    align-items: center; 
    background-color: $error-bg-color;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top:0;
    width:100%;
}

#error header{
    text-align: left;
}

#error p{
    color: #fff;
    margin-bottom: 4px;
    @media (min-width: 575px){
        font-size: 1.8rem;
        margin-bottom: 8px;
    }
    @media (min-width: 1200px){
        font-size: 2.4rem;
    }
}

#error a{
    color: #fff;
    font-family: $montserrat;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    margin-top: 12px;
}