#error{
    align-items: center; 
    background-color: $very-dark-red;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top:0;
    width:100%;
}

#error h1{
    font-size: $xl-fontSize;
}

#error p{
    color: $white;
    font-family: $lato;
    margin-bottom: 4px;
}

#error a{
    color:$white;
    font-family: Montserrat;
    font-size: $m-fontSize;
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
    display: block;
    margin-top:12px;
}