.filter-items{
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-items li{
    color: #000;
    cursor: pointer;
    font-family: $montserrat;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: inline-block;
    padding: .8rem .5rem;
    margin: .3rem .3rem .3rem 0;
    background: $primary-color;
    border-width: .1rem .1rem .2rem .1rem;
    border-style: solid;
    border-color: #222;
    border-radius: .3rem;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    &:hover{
        background: darken($primary-color, 10%);
    }
}

.filter-items li.active{
    background: darken($primary-color, 15%);
}

.splash-layer{
    position: fixed;
    top:0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before{
        background: darken($bg-color, 10%);
        display: block;
        width: 100%;
        height: 50%;
        transform: translate3d(-100%, 0, 0);
        content: '';
    }
    &::after{
        background: darken($bg-color, 1%);;
        display: block;
        width: 100%;
        height: 50%;
        transform: translate3d(-100%, 0, 0);
        content: '';
    }
}

.splash-layer span{
    font-size: $medium-paragraph-fontSize;
    font-family: $montserrat;
    font-weight: bold;
    color: $primary-color;
    display: block;
    position: absolute;
    width: 100%;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        left: 0;
        top: 49%;
        bottom: 0;
        right: 0;
    }
    z-index:25;
    opacity: 0;
}

#projects-status{
    margin-top: 2rem;
    font-size: 1.6rem;
}

.show-splash-layer{  
    opacity: 1;
    z-index: 100;
    &::before{
        animation: before-show-bg .5s cubic-bezier(.65,.05,.1,1) forwards, before-hide-bg .5s 1s cubic-bezier(.65,.05,.1,1) forwards;
    }
    &::after{
        animation: after-show-bg .5s cubic-bezier(.65,.05,.1,1) forwards, after-hide-bg .5s 1s cubic-bezier(.65,.05,.1,1) forwards;
    }
    span{
        animation: show-span ease-out .2s .1s forwards, hide-span ease-out .2s .8s forwards;
    }
}

@keyframes show-span{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes hide-span{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes before-show-bg{
    0%{
        transform: translate3d(100%, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}

@keyframes before-hide-bg{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes after-show-bg{
    0%{
        transform: translate3d(-100%, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
@keyframes after-hide-bg{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(100%, 0, 0);
    }
}