#page-footer{
    width: 100%;
    margin-bottom: 1rem;
}

#page-footer h3{
    font-size: $small-title-fontSize;
    line-height: $medium-paragraph-lineHeight;
    text-align: center;
    margin: 0;
}
#page-footer p{
    font-size: $base-fontSize;
    line-height: $medium-paragraph-lineHeight;
    text-align: center;
}