#page-footer{
    text-align: left;
    font-size: 1.4rem;
    margin-top: 4rem;
    width: 75%;
}

#page-footer h3{
    color: $off-white;
    font-family: $montserrat;
    font-size: 1.8rem;
    text-shadow: 0px 0px 1px $off-white; 
    font-weight: 700;
}

#page-footer p{
    color:$grey;
}