#page-footer{
    text-align: left;
    font-size: 1.4rem;
    margin-top: 4rem;
    width: 75%;
    @media (min-width: $small-device) {
        width: 100%;
        margin-top: 6rem;
        font-size: none;
    }
}
