.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-form div:not(:last-child) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    // border: 1px solid $sky-color;
    background: darken($bg-color, 5%);
    padding-bottom: .4rem;
    margin-bottom: 2rem;
}

.contact-form label{
    margin-top: 1rem;
    display: inline-block;
    transition: color .2s ease-in;
    width: 10%;
}

.contact-form input, .contact-form button, .contact-form textarea{
    display: inline-block;
    width: 90%;
}

.contact-form input, textarea{
    color: $off-white;
    font-family: $montserrat;
    background: darken($bg-color, 5%);
    outline: none;
    border:none;
    &:focus{
        & + label{
            color: $sky-color;
        }
    }
}

.contact-form input{
    height: 4rem;
}

.contact-form textarea{
    resize: none;
}

.contact-form #textarea-container{
    padding-top: 1rem;
}
.contact-form #textarea-container label{
    margin-top: .1rem;
    vertical-align: top;
}

.contact-form .buttons-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.contact-form button{
    width:100%;
    @media(min-width:$medium-device){
        flex-basis: 45%;
    }
}

.contact-form #submit{
    color:#ebf1f8;
    background:#009688;
    border-bottom: .4rem solid #35817a;
    box-shadow: 0 .3rem .3rem rgba(#000000,.7); 
    margin-bottom: 2rem;
    @media(min-width:$medium-device){
        margin-bottom: 0;
    }
    &:hover{
        background:#35817a;
        border-bottom: .2rem solid #35817a;
        margin-bottom: 2.2rem;
        @media(min-width:$medium-device){
            margin-bottom: .2rem;
        }
    }
    &:disabled{
        color:$grey;
        background: darken($grey, 20%);
        border-bottom: .4rem solid darken($grey, 50%);
        pointer-events: none;
    }
}

.contact-form #download{
    color:#ebf1f8;
    background:#41598d;
    border-bottom: .4rem solid darken(#41598d, 10%);
    box-shadow: 0px .3rem .3rem rgba(#000000,.7); 
    margin-bottom: 0;
    &:hover{
        background:darken(#41598d, 10%);
        border-bottom: .2rem solid darken(#41598d, 10%);
        margin-bottom: .2rem;
    }
}