#page-header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#page-header.hidden .header__nav{
    transform: translate3d(0, -100%, 0);
}

#page-header.hidden .header__nav__link{
    transform: translate3d(0, -120px, 0);
}

.header__burger{
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    padding: 5px 4px;
    right: 8.0rem;
    @media (max-width: $xx-large-device){
        right: 3.8rem;
    }
    @media (max-width: $medium-device) {
        right: 2.3rem;
    }
    @media (max-width: $small-device) {
        right: 1.2rem;
    }
    @media (max-width: $x-small-device){
        background: darken($bg-color, 3%);
        border-radius: 50%;
        bottom: 3rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        height: 5.9rem;
        right: 1rem;
        padding: 1rem;
        top: auto;
        width: 6.0rem;
    }
    top: 3.5rem;
    z-index: 9998;
    &:before,
    &:after,
    .header__burger__line{
        background-color: $shapes-color;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #000;
        content: ' ';
        display: block;
        height: 2px;
        margin: 8px 0;
        transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 4.2rem;
        @media (max-width: $x-small-device) {
            width: 4rem;
        }
    }
}

.header__burger--white{
    @extend .header__burger;
    &:before,
    &:after,
    .header__burger__line{
        @extend .header__burger__line;
        background-color: $white;
    }
}

.header__burger.open:before{ 
    transform: translateY(8px) rotate(135deg);
}

.header__burger.open .header__burger__line{ 
    transform: rotate(180deg);
    opacity: 0;
}

.header__burger.open:after{ 
    transform: translateY(-12px) rotate(225deg);
}


.header__nav{
    align-items: center;
    background-color: lighten($bg-color, 5%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding:10%;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
    transition: transform .45s cubic-bezier(0.45, 0, 0, 1);
    width: 100%;
}


.header__nav__link{
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $light-grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: $l-fontSize;
    font-family: $Montserrat;
    font-weight: 700;
    height: calc(100% /4);
    max-width: $xx-small-width;
    overflow: hidden;
    text-decoration: none;
    transition: transform .55s cubic-bezier(0,.35,0,1), color .15s ease-out .1s;
    width: 100%;
}

.header__nav__link:nth-child(1){
    transition-delay: .36s;
} 

.header__nav .header__nav__link:hover{
    background: darken($bg-color, 12%);
}