#home{
    color: $light-white;
    font-family: $Roboto;
    height: 100%;
    padding: $m-size $xl-size;
    @media (max-width: $small-device) {
        padding:20px;
    }
    @media (max-width: $x-small-device) {
        padding:10px;
        font-size: 1.2rem;
    }
    text-align: left;
    width: 100%;
}

#home p{
    line-height: 1.4em;
}

#home button{
    background-color: $dark-red;
    border-bottom: 5px solid darken($dark-red, 20%);
    box-shadow: 0px 4px 5px #000;
    transition: border .2s ease-in-out;
    
    &:hover{
        background-color: darken($dark-red, 10%);
        border-bottom: none;
        box-shadow: none;
    }
}

#home p{
    // margin: $xs-size;
}

.code__const{
    color: $const;
}

.code__operator{
    color: $operator;
}

.code__value{
    color: $value;
}

.code__value--url{
    text-decoration: underline;
}

.code__object{
    color: $shapes-color;
}

.code__attribute-name{
    color: $light-white;
}

.code__function{
    color: $function;
}

.code__string-interpolation{
    color: $stringInterpolation;
}