#page-header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 200;
}

.burger-icon{
    cursor: pointer;
    position: fixed;
    top: auto;
    right: 1.5rem;
    bottom: 2rem;
    z-index: 9998;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.4rem;
    padding: 1rem;
    background: darken($bg-color, 10%);
    @media (min-width: $small-device){
        top: 3.2rem;
        background: none;
        border-radius: 0%;
        border:none;
    }
    @media (min-width: $medium-device){
        top: 3.2rem;
        right: 2rem;
    }
    &:before,
    &:after,
    .burger-icon__line{
        display: block;
        border-radius: .3rem;
        width: 3.7rem;
        height: .2rem;
        margin: .7rem -.1rem;
        background-color: $primary-color;
        content: ' ';
        transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}

.burger-icon.open:before{ 
    transform: translateY(.6rem) rotate(135deg);
}

.burger-icon.open .burger-icon__line{ 
    transform: rotate(180deg);
    opacity: 0;
}

.burger-icon.open:after{ 
    transform: translateY(-1.2rem) rotate(225deg);
}

.burger-icon--white{
    @extend .burger-icon;
    background: transparent;
    border: .1rem solid $white-color;
    border-radius: 50%;
    @media (min-width: $small-device){
        border:none;
    }
    &:before,
    &:after,
    .burger-icon__line{
        @extend .burger-icon__line;
        background-color: $white-color;
    }
}


.menu{
    background-color: lighten($bg-color, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15% 10%;
    position: fixed;
    top:0;
    left:0;
    transition: transform .45s cubic-bezier(0.45, 0, 0, 1);
    width: 100%;
    @media (min-width: $small-device){
        padding: 10% 10%;
    }
    @media (min-width: $medium-device){
        padding: 5% 10%;
    }
}


.menu__link{
    background: rgba(0, 0, 0, 0.2);
    color: $off-white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $medium-paragraph-fontSize;
    font-family: $montserrat;
    font-weight: 700;
    height: calc(100% /4);
    overflow: hidden;
    text-decoration: none;
    transition: transform .55s cubic-bezier(0,.35,0,1), color .15s ease-out .1s;
    width: 100%;
    @media (min-width: $medium-device){
        font-size: $large-paragraph-fontSize;
    }
    @media (min-width: $large-device){
        font-size: $large-paragraph-fontSize;
    }
}

.menu__link:nth-child(1){
    transition-delay: .36s;
} 

.menu .menu__link:hover{
    background: darken($bg-color, 12%);
}

.menu .menu__link.active{
    color: $primary-color;
}

#page-header.hidden .menu{
    transform: translate3d(0, -100%, 0);
}

#page-header.hidden .menu__link{
    transform: translate3d(0, -12rem, 0);
}