.pages header{
    position: relative;
    margin: 0 20px;
    text-align: left;
}

.pages header h1{
    font-family: 'Montserrat',sans-serif;
    color:#cacaca;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    text-transform: lowercase;
    width: 100%;
}