.page-content{
    background-color: $dark-blue;
    display: block;
    height: 100%;
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}