.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 33.33%;
    @media (min-width: $medium-device) {
        width: 25%;
    }
    @media (min-width: $large-device) {
        width: 20%;
    }
    @media (min-width: $xlarge-device) {
        width: calc(100%/7);
    }
}

.content .group .circle{
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    background-color: #E0E0E0;
    &::before {
        background-color: #FAFAFA;
        border-radius: 50%;
        box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
        color: rgba(black, .54);
        content: attr(data-content);
        font-size: 3.2rem;
        font-weight: bold;
        font-family: $montserrat;
        text-align: center;
        left: 0;
        line-height: 10rem;
        position: absolute;
        top: 0;
        transform: scale(.87);
        height: 100%;
        width: 100%;
    }
}
 
.content .group .circular-text {
    font-family: $montserrat;
    text-align: center;
    color: $title-color;
}
