.skills_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills_container header{
    width: 100%;
    text-align: left;
}

.skills_container #page-footer{
    width: 100%;
    text-align: left;
    
}

.skills_container #page-footer h3, .skills_container #page-footer p{
    @media (min-width: $small-device){
        text-align: center;
    }    
}

.skills__circles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 1.2rem 0;
}