.social-media{
    display: none;
    @media (min-height: 650px) , (min-width: $small-device){
        display: flex;
    }
    position: absolute;
    top: 87vh;
    bottom: 3rem;
    flex-direction: column;
    z-index: 3;
    @media (min-width: $medium-device), (orientation : landscape){
        top: calc(50vh - 115px);
        left: 0;
        bottom: auto;
    }
}

.social-media > span{
    font-size: 1rem;
    margin-left: .5rem;
    @media (min-width: $medium-device), (orientation : landscape){
        margin-left: 0.2rem;   
    }
    opacity: 0;
    animation: follow-me-animation .1s linear 1.5s forwards;
}

@keyframes follow-me-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.social-media ul{
    list-style: none;
    display: flex;
    margin-top: .7rem;
    width: 100%;
    @media (min-width: $medium-device), (orientation : landscape){
        flex-direction: column;
    }
}

.social-media ul li{
    transform: translate3d(-30vh, 0,0);
    animation: social-media-animation .7s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.social-media ul li:nth-of-type(1){
    animation-delay: 1.5s;    
}
.social-media ul li:nth-of-type(2){
    animation-delay: 1.6s; 
}
.social-media ul li:nth-of-type(3){
    animation-delay: 1.7s; 
}
.social-media ul li:nth-of-type(4){
    animation-delay: 1.8s; 
}

@keyframes social-media-animation{
    0%{
        opacity: 0;
        transform: translate3d(-30vh, 0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0,0);
    }
}

.social-media ul li a{
    display: block;
    width: 100%;
    height: 100%;
    @media (min-width: $medium-device), (orientation : landscape){
        &:hover{
            transform: scale(1.1);
            transition: transform .2s linear;
        }
    }
}

.social-media ul li a .stack-style{
    font-size: 2.3rem;
    @media (min-width: $medium-device), (orientation : landscape){
        font-size: 2.5rem;
    }
}

.social-media ul li a span .square{
    width: 100%;
    height: 100%;
    color: transparent;
}

.social-media ul li a #facebook-square{
    background: $facebook-color;
}
.social-media ul li a #github-square{
    background: $github-color;
}
.social-media ul li a #twitter-square{
    background: $twitter-color;
}
.social-media ul li a #instagram-square{
    background: $instagram-color;
}

.social-media ul li a .icon{
    font-size: 3rem;
}