.wrapper{    
    padding: 15px 15px;

    @media (min-width: 575px){
        max-width: 545px;
    }
    @media (min-width: 768px){
        margin: 0 auto;
        max-width: 738px;
    }
    @media (min-width: 992px){
        max-width: 962px;
    }
    @media (min-width: 1200px){
        max-width: 1170px;
    }
}