.wrapper{
    margin: 0 auto;
    max-width: $x-large-width;
    @media (max-width: $xxx-large-device){
        max-width: $large-width;
    }
    @media (max-width: $xx-large-device){
        max-width: $medium-width;
    }
    @media (max-width: $x-large-device){
        max-width: $small-width;
    }
    @media (max-width: $large-device){
        max-width: $x-small-width;
    }
    @media (max-width: $medium-device){
        max-width: $xx-small-width;
    }
    @media (max-width: $small-device){
        max-width: $xxx-small-width;
    }
}