.rightSlide-exit-active{
    @include menuSlideOut;
    @include slideRightArrowOut;
    @include slideLeftArrowOut;
    @include slideSocialMediaOut;
    animation: slideOutToLeft .8s both ease-out 1.3s;
}

.leftSlide-exit-active{
    @include menuSlideOut;
    @include slideLeftArrowOut;
    @include slideRightArrowOut;
    animation: slideOutToRight .8s both ease-out 1.3s;
}


@keyframes slideOutToLeft {
    from{
        
        transform: translate3d(0,0,0);
    }
    to{

        transform: translate3d(-200%,0,0);
    }
}

@keyframes slideOutToRight {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(200%,0,0);
    }
}