*, :after, :before{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    font-size: 62.5%;
}

body{
    background: $bg-color;
    color: $grey;
    font-family: $lato;
    font-size: $base-fontSize;
}

.page{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.centered{
    padding: 5% 0 5%;
}

.wrapper{
    max-width: 33.5rem;
    height: 100%;
    margin: 0 auto;
}

