*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $dark-grey;
    font-family: 'Lato', sans-serif;
    font-size:$m-fontSize;
    font-weight: 400;
    height: 100%;
    line-height: 1.75rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}