h1, h2, h3, h4, h5, h6{
    color: $title-color;
    font-family: $montserrat;
    font-weight: 700;
    text-shadow: 0 0 .1rem $title-color;
    text-align: left;
    margin: 0 0 1rem 0;
}

h1{
    font-size: $large-title-fontSize;
    line-height: $medium-title-lineHeight;
    @media (min-width: $large-device){
        font-size: $xlarge-title-fontSize;
        line-height: $large-title-lineHeight;
    }
}

h3{
    font-size: $small-title-fontSize;
    line-height: $medium-title-lineHeight;
    @media (min-width: $medium-device){
        font-size: $medium-title-fontSize;
        line-height: $large-title-lineHeight;
    }
    @media (min-width: $large-device){
        font-size: $large-title-fontSize;
    }
}

p{
    color: $paragraph-color;
    font-family: $lato;
    text-align: left;
    font-size: $medium-paragraph-fontSize;
    line-height: $medium-paragraph-lineHeight;
}

a{
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

@mixin right-floating{
    right: 1.3rem;
    @media(min-width: $medium-device){
        right: 2.3rem;
    }
    @media(min-width: $large-device){
        right:3.8rem;
    }
    @media(min-width: $xxlarge-device){
        right:8.3rem;
    }
}

@mixin left-floating{
    left: 1.3rem;
    @media(min-width: $medium-device){
        left: 2.3rem;
    }
    @media(min-width: $large-device){
        left:3.8rem;
    }
    @media(min-width: $xxlarge-device){
        left:8.3rem;
    }
}

.special-word{
    color: $primary-color;
    font-weight: 700;
}
.special-link{
    color: $primary-color;
    font-weight: 700;
}