// Colors
$dark-grey:#2F2F2F;
$light-grey:#8a8a8a;
$light-orange:#E94C3D;
$const:#369cc2;
$attributeName:#bbb6b6;
$equal:#e06c75;
$value:#a4834c;
$object: #61afef;
$function:#91b45c;
$stringInterpolation: #8060dd;
$editor:#282c34;
// Fonts
$m-fontSize: 1.6rem;
$l-fontSize: 3.2rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$xxxl-size: 8.0rem;
// Breakpoint
$desktop-breakpoint: 45rem;