// colors
$bg-color: #282c34;
$title-color: #cacaca;
$paragraph-color: #8A8A8A;
$error-bg-color: #912B2B;
$primary-color: #61afef;
$white-color: #fff;
$facebook-color: #4868AD;
$github-color: #4E545A;
$twitter-color: #3299FF;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$salmon-color:#e06c75;
// $light-orange:#E94C3D;
// $dark-grey:#2F2F2F;
// $dark-red: #B20202;
// $const:#369cc2;
// $light-white:#bbb6b6;
// $value:#a4834c;
// $function:#91b45c;
// $stringInterpolation: #8060dd;

// Font family
$montserrat: 'Montserrat',sans-serif;
$lato: 'lato',sans-serif;

// Titles font sizes
$small-title-fontSize: 1.8rem;
$medium-title-fontSize: 2.0rem;
$large-title-fontSize: 3.2rem;
$xlarge-title-fontSize: 4.2rem;

// Titles line height
$medium-title-lineHeight: 3.5rem;
$large-title-lineHeight: 4.0rem;

// paragraph font sizes
$base-fontSize: 1.6rem;
$medium-paragraph-fontSize: 1.8rem;
$large-paragraph-fontSize: 2.0rem;

// paragraph line height
$small-paragraph-lineHeight: 2.5rem;
$medium-paragraph-lineHeight: 3.0rem;

// breakpoints
$small-device: 36em;
$medium-device: 48em;
$large-device: 62em;
$xlarge-device: 75em;
$xxlarge-device: 87.5em;
