// Color
$white-color:#fff;
$off-white:#cacaca;
$sky-color:#61afef;
$grey: #8A8A8A;
$salmon-color:#e06c75;

$light-orange:#E94C3D;
$dark-grey:#2F2F2F;
$dark-red: #B20202;
$const:#369cc2;
$light-white:#bbb6b6;
$value:#a4834c;
$function:#91b45c;
$stringInterpolation: #8060dd;

// Font size
$medium-fontSize: 2.0rem;


/*******************************************/
// colors
$title-color: #cacaca;
$paragraph-color: #8A8A8A;
$bg-color: #282c34;
$error-bg-color: #912B2B;
$primary-color: #61afef;

// Font family
$montserrat: 'Montserrat',sans-serif;
$lato: 'lato',sans-serif;


// Titles font sizes
$small-title-fontSize: 1.8rem;
$medium-title-fontSize: 2.9rem;
$large-title-fontSize: 4.2rem;

// Titles line height
$small-title-lineHeight: 3.5rem;
$medium-title-lineHeight: 5.0rem;
$large-title-lineHeight: 6.0rem;

// paragraph font sizes
$base-fontSize: 1.6rem;
$medium-paragraph-fontSize: 1.8rem;
$large-paragraph-fontSize: 2.0rem;

// paragraph line height
$small-paragraph-lineHeight: 2.5rem;
$medium-paragraph-lineHeight: 3.2rem;

// breakpoints
$small-device: 36em;
$medium-device: 48em;
$large-device: 62em;
$xlarge-device: 75em;
