.wrapper{
    max-width: 33.5rem;
    margin: 0 auto;
    @media (min-width: $small-device){
        max-width: 50rem;
    }
    @media (min-width: $large-device){
        max-width: 60rem;
    }
    @media (min-width: $xlarge-device){
        max-width: 80rem;
    }
    @media (min-width: $xxlarge-device){
        max-width: 101rem;
    }
}